<% title ||= false %>
<%= form_for *form do |f| %>
  <% if title %>
    <div class="title">
      <%= f.text_field :title, class: "channel-title new-channel-title", placeholder: "Channel title" %>
      <% if (error = @channel.errors[:title]).any? %>
        <span class="error">Title <%= error.first %></span>
      <% end %>
    </div>
  <% end %>
  <% markdown = (@post && !@post.new_record? ? @post.markdown? : current_user.markdown?) %>
  <%= hidden_field_tag "syntax", markdown ? "md" : "html", :id => "syntax" %>
  <div class="comment-box-container">
    <%= f.text_area :body, :class => 'comment-box' %>
  </div>
  <% if markdown %>
    <div class="markdown-help-show"><%= render :partial => "shared/markdown_help" %></div>
  <% end %>
  
  <div class="actions">
    <% if markdown %>
      <button class="response-button content-button markdown-help"><%= octicon "markdown" %></button>
    <% end %>
    <%= f.submit "Send", class: "response-button content-button", accesskey: "s" %>
  </div>

  <div class="actions left">
    <form encType='multipart/form-data'>
      <div class="upload-image" data-uploader-url="<%= images_path(format: :json) %>"></div>
    </form>
  </div>

<% end %>
