<div class="channel-header">
  <h2><%= format_title(@channel) %></h2>
  <% if !@channel.text.blank? %>
    <div class="block">
      <%= format_text @channel.text %>
      <div class="channel-actions">
        <%= link_to "Edit", "#", :class => "edit-channel-link" %>
      </div>
    </div>
  <% end %>

</div>

<div class="channel-header-edit" style="display: none;">
  <%= form_for @channel, :url => channel_path(@channel), :method => :put do |f| %>
    <%= f.text_field :title, :class => "channel-title" %>
    <div class="block">
      <%= f.text_area :text %>
      <div class="channel-actions">
        <%= link_to "Cancel", "#", :class => "cancel-edit-channel-link" %>
        <%= f.submit "Save" %>
      </div>
    </div>
  <% end %>
</div>
