<div class="channel-header activity-graph-data" data-sparklines="<%= activity_hours(@posts).join(",") %>">
  <div class="channel-actions">
    <%= link_to "Edit Channel", "#", :class => "edit-channel-link" %>
  </div>
  <div class="activity-graph"></div>
  <h2><%= format_title(@channel) %></h2>
</div>

<% if !@channel.text.blank? %>
  <div class="channel-text">
    <div class="body">
      <%= format_text @channel.text %>
    </div>

    <div class="description">
      Updated at <%= @channel.updated_at.try(:strftime, '%Y/%m/%d %H:%M:%S') %>
      <% if u = @channel.updated_by_user %>
        by <%= format_title u.display_name %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="no-channel-text"></div>
<% end %>

<div class="channel-header-edit" style="display: none;">
  <%= form_for @channel, url: channel_path(@channel), method: :put do |f| %>
    <div class="title">
      <%= f.text_field :title, class: "channel-title" %>
    </div>
    <%= f.text_area :text %>
    <div class="actions">
      <%= link_to "Cancel", "#", class: "cancel-edit-channel-link" %>
      <%= f.submit "Save" %>
    </div>
  <% end %>
</div>
