%a{:name => "post_#{post.id}"}
=div_for post, :class => "#{'unread ' if post.id > @last_read_id}#{'mention' if post.mentions?(current_user)}" do
  -if new_features?
    .user-color{:style => "background-color: #{post.user.color}"}
  .name
    -if new_features?
      =render :partial => "shared/user", :object => post.user
    -else
      =user_name(post.user)
  .date
    .date-content
      .post-options{:style => "display: none;"}
        =#link_to "Link", channel_path(@channel, :anchor => "post_#{post.id}")
        =link_to "Reply", "#", :class => "post-reply"
        =link_to "Mark unread", "#", :class => "post-unread", "data-prev-post-id" => @last_post_id
      .fave{:title => "Faved by:\n#{post.faves.map { |f| f.user.login }.join("\n")}" }
        .fave-text
          .count= post.faves.count
          =link_to "#{image_tag("favorite_on.png", :class => "on", :style => post.faved_by?(current_user) ? "" : "display:none;")}#{image_tag("favorite_off.png", :class => "off", :style => !post.faved_by?(current_user) ? "" : "display:none;")}".html_safe, "#", :class => "favorite", "data-post-id" => post.id
      .date-text
        =link_to post.created_at.try(:strftime, '%Y/%m/%d %H:%M:%S'), channel_path(@channel, :anchor => "post_#{post.id}"), :class => "post-date-link"
  .body{"data-raw-body" => u(post.body)}
    =format_body(post)
  -if post.user_id == current_user.id
    / %br/
    .actions
      =link_to "Edit", edit_channel_post_path(@channel, post)
      =link_to "Delete", channel_post_path(@channel, post), :method => :delete, :confirm => "Are you sure?"
.clear
