<div class="channel-post">
  <div class="channel-post-header">
    <%= link_to image_tag(avatar_url(post.user, 42), class: "avatar"), user_path(post.user), class: "avatar" %>

    <%= link_to format_title(post.user.display_name), user_path(post.user), class: "user-name" %>

    <div class="faves right" data-faves="<%= post.faves.includes(:user).map { |f| f.user.login }.to_json %>">
    </div>

    <%= link_to post.created_at.strftime(Fu2.time_format), channel_path(@channel, :anchor => "post_#{post.id}"), class: "timestamp right" %>
  </div>

  <div class="body">
    <%= format_body post %>
  </div>

</div>
<a name="read_<%= post.id %>"></a>
