<% unread = @last_read_id && post.id > @last_read_id %>
<div class="channel-post <%= "read" if !unread %>" data-post-id="<%= post.id %>">
  <div class="channel-post-header">
    <%= link_to image_tag(avatar_url(post.user, 42), class: "avatar-image"), user_path(post.user), class: "avatar" %>

    <%= link_to format_title(post.user.display_name), user_path(post.user), class: "user-name" %>

    <div class="right">
      <div class="faves" data-faves="<%= post.faves.includes(:user).map { |f| f.user.login }.to_json %>"><%= octicon "star" %> <span class="count"></div>
      <%= link_to octicon("eye"), "#", class: "post-unread", "data-prev-post-id" => @last_post_id, title: "Mark unread" %>
      <%= link_to octicon("mail-reply"), "#", class: "post-reply", title: "Reply" %>

      <%= link_to format_date(post.created_at), channel_path(@channel, :anchor => "post_#{post.id}"), class: "timestamp right", title: post.created_at.strftime(Fu2.time_format) %>
    </div>
  </div>

  <div class="body" data-raw-body="<%= u(post.body) %>">
    <%= format_body post %>
  </div>

</div>
<a name="read_<%= post.id %>"></a>
