-if !new_features?
  %h2 Search
  =form_tag search_channels_path, :method => :get do
    =text_field_tag "search", "", :style => "float: none;", :autocomplete => "off"
    =submit_tag "Go", :name => ''
  %h2 Recent Activities
%ul#recent_acitivities{:class => "#{'refresh' if @page == 1}"}
  -@recent_channels.each do |channel|
    -has_posts = channel.has_posts?(current_user)
    %li{:class => "#{'visited' if has_posts} channel", "data-last-id" => channel.last_post_id}
      -count = channel.posts.count
      -if new_features?
        .name
          -if count > 0
            -u = Post.first_channel_post(channel).first.user
            .user-color{:style => "background-color: #{u.color}"}
            =render :partial => "shared/user", :object => u
          -else
            &nbsp;
        .date
          -if count > 0 && channel
            =link_to channel.last_post.try(:strftime, '%Y/%m/%d %H:%M:%S'), channel_path(channel, :anchor => channel_anchor(channel, current_user))
          -else
            No Posts yet.
        -if (mentions = channel.num_mentions(current_user)) > 0
          .post-count.mentions= mentions
        =link_to format_title(channel), channel_path(channel), :class => "channel-link"
      -else
        %p
          -if count > 0
            .name= user_name(Post.first_channel_post(channel).first.user)
          .date
            -if count > 0 && channel
              =link_to channel.last_post.try(:strftime, '%Y/%m/%d %H:%M:%S'), channel_path(channel, :anchor => "comments")
            -else
              No Posts yet.
          =link_to h(channel.title), channel_path(channel)

%br/
%br/
=will_paginate @recent_channels
