<% @last_ts = "" %>
<ul id="recent_activities" class="<%= 'refresh' if @page == 1 %>">
  <div class="loader-group">
    <%= render partial: "channels" %>
  </div>

  <% if (diff = @view.channel_count - @view.recent_channels.size) > 0 %>
    <div class="channel-loader scroll-loader" data-loader-url="<%= live_channels_path %>" data-loader-attr="data-channel-id" data-loader-items=".channel"  data-loader-count="50" data-loader-page="<%= @page %>">
      <%= link_to "#{octicon "chevron-down"} <span class=\"loader-count\">#{diff}</span> older channels".html_safe, "#", class: "load-more" %>
    </div>
  <% end %>
</ul>
