<% if @channel.can_read?(current_user) %>
  <h2><%= @channel.title %></h2>
  <% if (diff = @view.post_count - @view.posts.size) > 0 %>
    <div class="post-loader scroll-loader" data-loader-url="<%= channel_posts_path(@channel) %>" data-loader-attr="data-post-id" data-loader-items=".channel-post:not(.preview)" data-loader-count="12">
      <%= link_to "#{octicon "chevron-up"} <span class=\"loader-count\">#{diff}</span> older posts".html_safe, "#", class: "load-more" %>
      <%= link_to "Show All", "#", class: "load-all" %>
    </div>
  <% end %>

  <div class="channel-text">
    <div class="body">
      <%= format_text @channel.text %>
    </div>
  </div>

  <div class="channel-posts loader-group">
    <% @view.posts.each do |post| %>
      <% if post.is_a?(Event) %>
        <%= render partial: "event", object: post %>
      <% elsif post.can_read?(current_user) %>
        <%= render partial: "post", object: post %>
      <% end %>
    <% end %>
  </div>

<% else %>
  <p>You can't read the content of this channel</p>
<% end %>

<% if @channel.can_write?(current_user) %>
  <div class="channel-response">
    <a name="comments"></a>
    <%= render partial: "form", locals: {form: [:post, :url => channel_posts_path(@channel)]} %>
  </div>
<% end %>
