<div id="search-results">
  <%= form_tag search_path, :method => :get, :class => "search-form#{' results' if @results}" do %>
    <div class="inputs">
      <%= text_field_tag "search", params[:search], :class => "search-field", id: "search-field" %>
      <%= submit_tag "Search" %>
    </div>
  <% end %>

  <div class="advanced-search">
    <% Search::QUERIES.each do |qc| %>
      <% q = qc.new %>
      <h3><%= q.index.capitalize %></h3>
      <ul>
        <% q.searchable.each do |attrib| %>
          <li><%= attrib %></li>
        <% end %>
    <% end %>
  </div>

  <% if @view.results %>

    <ul>
      <% @view.results[:objects].each do |o| %>

        <% if o.instance_of?(Post) %>
          <%= render partial: "channels/post", object: o, locals: {faves: o.faves} %>
        <% elsif o.instance_of?(Channel) %>
          <%= render partial: "channels/channel", object: o, locals: {show_last_date: true} %>
        <% end %>

      <% end %>
    </ul>

    <%= @view.results[:result_count] %> out of <%= @view.results[:total_count] %> items matched

  <% end %>
</div>
