<%= form_tag search_path, :method => :get, :class => "search-form#{' results' if @results}" do %>
  <div class="inputs">
    <%= text_field_tag "search", params[:search], :class => "search-field", id: "search-field" %> <br/>
    <%= link_to "Advanced search", "#", class: "advanced-search" %>
    <%= submit_tag "Search" %>
  </div>

  <div id="advanced-search">
    <h2>Advanced Search</h2>
    <div class="info">
      The following attributes can be queried directly using <pre><code>attribute:search</code></pre>
    </div>
    <% Search::QUERIES.each do |qc| %>
      <div class="search-type">
        <% q = qc.new %>
        <h3><%= q.index.capitalize %></h3>
        <ul>
          <% q.searchable.each do |attrib| %>
            <li<%= " class=\"default\"".html_safe if q.default.include?(attrib) %>><%= attrib %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
<% end %>

<header class="search-header">
  <span class="result-count"><%= @view.results[:offset] %>-<%= @view.results[:offset] + @view.results[:objects].size %> of <%= @view.results[:result_count] %> results</span>

  <span class="sort-by">
    Sort by:
    <span class="sort-menu search-menu">
      <div class="search-menu-options">
        <span class="option selected">created</span>
        <span class="option">faves</span>
      </div>
      <span class="title">created</span> <%= octicon "chevron-down" %></span>
  </span>

  <span class="filter">
    Filter:
    <span class="filter-menu search-menu">
      <div class="search-menu-options">
        <span class="option selected">All</span>
        <span class="option">Channels</span>
        <span class="option">Posts</span>
      </div>
      <span class="title">All</span> <%= octicon "chevron-down" %>
    </span>
  </span>
</header>

<ul id="search-results">
  <% if @view.results %>

    <% @view.results[:objects].each_with_index do |o,i| %>
      <%= @view.results[:scores][i] %>
      <% if o.instance_of?(Post) %>
        <li class="result-post">
          <%= render partial: "channels/channel", object: o.channel, locals: {show_last_date: false, element: "div", last_post: o, anchor: channel_post_anchor(o.channel, o)} %>

          <%= render partial: "channels/post", object: o, locals: {faves: o.faves, hide_user: true} %>
        </li>
      <% elsif o.instance_of?(Channel) %>
        <%= render partial: "channels/channel", object: o, locals: {show_last_date: true} %>
      <% end %>

    <% end %>

  <% end %>
</ul>

<footer class="search-info">
  <%= link_to "More Results", "#", class: "search-more-results" %>
</footer>
