<% grid_size ||= 10; avatar_grid_size ||= 2; avatar_size ||= 140 %>
<div class="box grid_<%= avatar_grid_size %>">
  <%= image_tag avatar_url(user, avatar_size), :class => "avatar" %>
</div>

<div class="box grid_<%= grid_size %>">
  <h2><%= link_to format_title(user.display_name), user_path(user) %></h2>
  <p><%= link_to image_tag("/images/emoji/email.png"), notifications_path(:anchor => user.id), :class => "user-link" %></p>
</div>
