<%= error_messages_for :user %>

<%= form_for :user, :url => user_path(@user), :html => {:method => :put, :class => "user-settings"} do |f| %>
  <h3 class="channel-response-title">Settings for <%= format_title(@user.display_name) %></h3>

  <div class="content-block">
    <p class="first-form-element">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email, :disabled => true %>
    </p>
    <p>
      <%= f.label :avatar_url, "Gravatar avatar:" %>
      <div class="field">
        <%= image_tag avatar_url(@user, 32), :class => "avatar-image" %>
        <%= link_to "Set/Change Avatar on Gravatar.com", "http://www.gravatar.com" %><br/>
        <span class="note"><strong>Note:</strong> The Gravatar avatar is used if no Custom Avatar URL is set</span>
      </div>
    </p>
    <p>
      <%= f.label :avatar_url, "Custom avatar URL:" %>
      <%= f.text_field :avatar_url %>
      <span class="note"><strong>Note:</strong> Custom avatars should be 42x42 pixels in size.</span>
    </p>
    <p>
      <%= f.label :display_name, "Display Name:" %>
      <%= f.text_field :display_name %>
    </p>
    <p>
      <%= f.label :color, "Color:" %>
      <%= f.text_field :color %>
    </p>
    <p class="checkbox">
      <%= f.label :markdown, "Enable Markdown syntax" %>
      <%= f.check_box :markdown %>
      <br />
    </p>
    <p class="checkbox">
      <%= f.label :new_features, "Enable Beta features" %>
      <%= f.check_box :new_features %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>
