<p>Please pick a new password and verify your email address!</p>

<%= error_messages_for :user %>

<%= form_for :user, :url => user_path(@user), :html => {:method => :put, :class => "normal"} do |f| %>
  <p>
    <%= f.label :email %>:
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>:
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>:
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
