<div class="profile">

  <div class="large">
    <%= render :partial => "profile", locals: {user: @user} %>
  </div>

  <h2>Stats</h2>
  <div class="stats content-block">
    <p><span class="label">Posts:</span> <%= @user.posts.count %></p>
    <p><span class="label">Channels created:</span> <%= @user_channel_count %></p>
    <p><span class="label">Faves given:</span> <%= @user.faves.count %></p>
    <p><span class="label">Faves received:</span> <%= @user_faves_received %></p>
  </div>

  <div class="">
    <h2>Recent Posts</h2>
    <% if @user.posts.count > 0 %>
      <ul>
        <% @user_posts.each do |post| %>
          <% next if !post || !post.channel %>
          <% @channel = post.channel %>
          <%= render partial: "channels/post", object: post, locals: {simple: true} %>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="Recent Faves">
    <h2>Faves</h2>
    <ul>
      <% @user_faves.each do |fave| %>
        <% next unless fave.post %>
        <% @channel = fave.post.channel %>
        <%= render partial: "channels/post", object: fave.post, locals: {simple: true} %>
      <% end %>
    </ul>
  </div>
</div>
