<ul id="main-navigation">
  <li class="home">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="messages">
    <%= link_to 'Messages', notifications_path, :class => 'label' %>
    <% notifications = Notification.for_user(current_user) %>
    <% if (mgs = notifications.messages.unread.count) > 0 || (mns = notifications.mentions.unread.count) > 0  %>
        <%= link_to "(#{mgs||0}/#{mns||0})", notifications_path, :class => 'counter' %>
    <% end %>
  </li>
  <li class="newchannel">
    <%= link_to 'New channel', new_channel_path %>
  </li>
</ul>

<ul id="secondary-navigation">
  <li class="dropdown search">
    <span class="toggle">Search</span>
    <div class="content">
      <%= form_tag search_channels_path, :method => :get do %>
        <%= text_field_tag 'search', nil, :autocomplete => 'off', :class => 'search-field', 'data-after' => '.search form' %>
      <% end %>
    </div>
  </li>
  <li class="dropdown more">
    <span class="toggle">More</span>
    <div class="content"></div>
  </li>
  <li class="logout">
    <%= link_to 'Logout', session_path, :method => :delete %>
  </li>
</ul>