<!doctype html>
<html>
  <head>
    <title>
      <% if @channel %><%= @channel.title %> | <% end %>
      Red Cursor
    </title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= users_js %>
    <% if mobile? %>
      <meta name="viewport" content="initial-scale = 1.0, user-scalable = no">
    <% end %>
  </head>
  <body<%= ' class="mobile"'.html_safe if mobile? %>>
    <a name="top"></a>

    <header class="header">
      <div class="content">
        <h1 id="title">
          Red Cursor
        </h1>
        <%= render :partial => "shared/toolbar" %>
      </div>
    </header>

    <% if !flash[:notice].blank? %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <div id="container">

      <section id="content">
        <%= yield %>
      </section>
    </div>

    <% if mobile? %>
      <%= link_to "Desktop Version", desktop_channels_path %>
    <% elsif mobile_device? %>
      <%= link_to "Mobile Version", desktop_channels_path %>
    <% end %>

  </body>
</html>
