<!doctype html>
<html>
  <head>
    <title>
      <% if @channel %><%= @channel.title %> | <% end %>
      Red Cursor
    </title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= users_js %>
    <% if mobile? %>
      <meta name="viewport" content="initial-scale = 1.0, user-scalable = no">
    <% end %>
  </head>
  <body<%= ' class="mobile"'.html_safe if mobile? %>>
    <a name="top"></a>

    <div class="header">
      <div class="content">
        <%= link_to image_tag('layout/logo_alt@2x.png'), root_path, :id => 'title' %>
        <%= render :partial => "shared/toolbar" %>
      </div>
    </div>

    <% if !flash[:notice].blank? %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <div id="container"<%= ' class="mobile"'.html_safe if mobile? %>>

      <div class="container_12">
        <% column_width = @column_width || 9 %>
        <% sidebar_width = 12 - column_width %>
        <div id="sidebar" class="grid_<%= sidebar_width %>">
          <div class="title-toolbar"></div>
          <% if sidebar_width > 0 %>
            <div class="content">
              <%= render :partial => "shared/sidebar" %>
            </div>
          <% end %>
        </div>

        <div id="content" class="grid_<%= column_width %>">
          <%= yield %>
        </div>
      </div>
    </div>

    <% if mobile? %>
      <%= link_to "Desktop Version", desktop_channels_path %>
    <% elsif mobile_device? %>
      <%= link_to "Mobile Version", desktop_channels_path %>
    <% end %>

  </body>
</html>
