!!!
!!! XML
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "de", :lang => "de"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title
      -if @channel
        =@channel.title
        |
      fu2
    =stylesheet_link_tag "common"
    -if params[:stylesheet_id]
      =stylesheet_link_tag params[:stylesheet_id]
    -elsif current_user.stylesheet
      =stylesheet_link_tag current_user.stylesheet.id.to_s
    -else
      =stylesheet_link_tag "application"
    =stylesheet_link_tag "/javascripts/markitup/skins/markitup/style.css", "/javascripts/markitup/sets/html/style.css" #, :cache => "markitup"
    =#javascript_include_tag "jquery#{".min.js" if RAILS_ENV == "production"}", "markitup/jquery.markitup", "markitup/sets/html/set", "application", :cache => "base"
    =stylesheet_link_tag "jquery-ui/jquery-ui-1.8.11.custom"
    =javascript_include_tag "jquery-1.5.1.min", "jquery-ui-1.8.11.custom.min.js", "markitup/jquery.markitup", "markitup/sets/html/set", "application", :cache => "base"
  %body
    #main
      #content
        %ul#menu
          %li= link_to "Home", root_path
          %li= link_to "New Channel", new_channel_path
          %li= link_to "Uploads", uploads_path
          %li= link_to "All Channels", channel_path(:all)
          %li= link_to "All Users", users_path
        %br
        %ul#menu
          %li= link_to "Settings", edit_user_path(current_user)
          %li= link_to "Stylesheets", stylesheets_path
          %li= link_to "Inbox (#{current_user.number_unread_messages})", inbox_messages_path
          %li= link_to "Logout", session_path, :method => :delete
        =yield